.gallery {
    padding: 1em;
    margin: 0;
    position: relative;
}

.gallery > h1 {
    font-size: 3rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin-bottom: 1rem;
    margin-top: 0;
    color: #333333;
    font-weight: 100;
}

.gallery > .gallery__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.75em 0em;
    grid-auto-flow: dense;

    list-style: none;
}

.gallery > .gallery__list > li {
    grid-column: span 2;
    grid-row: span 1;
}

.gallery > .gallery__list > li:first-child {
    grid-column: span 3;
    grid-row: span 3;
}

.gallery > .gallery__list > li:nth-child(2n+1) {
    grid-column: span 3;
    grid-row: span 2;
}

.gallery > .gallery__list > li:nth-child(7) {
    grid-column: span 3;
    grid-row: span 1;
}

.gallery > .gallery__list > li > figure {
    height: 100%;
    position: relative;
}

.gallery > .gallery__list > li > figure > figcaption {
    position: absolute;
    bottom: 0;
    right: 0;
}

.gallery > .gallery__list > li > figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}