:root{
    --header-color: #d3d3d3;
}

#navbar.hidden{
    display: none;
    position: relative;
}

header{
    position: relative;
    height: 60px;
    z-index: 999;
}

header > .header-item{
    float: left;
    position: relative;
    height: inherit;
    z-index: 999;
}

header > #logo-title{
    padding: 10px 0px 0px 12px;
}

header > #logo-title > a{
    position: relative;
    float: left;
    height: inherit;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bolder;
}

header > #toggleNavbarIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;
}

#toggleNavbarIcon > a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

#navbar
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: none;

    position: absolute;
    top: 60px;
    height: fit-content;
    width: 100%;
    color: black;
    background: var(--header-color);
}

#navbar > .nav-item{
    position: relative;
    float: left;
    height: inherit;

    min-width: 100%;
    padding: 20px;

    color: black;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 40px;
    transition: 0.4s ease;
}

.nav-item > .nav-link{
    padding: 0;
    margin: 0;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#navbar > .nav-item:hover {
    border-color: white;
}

#navbar > .nav-item:hover > a {
    color: white;
}

/* for tablets and up */
@media only screen and (min-width: 600px) {
    #navbar {
        position: static;
        display: block;
        float: right;
        height: inherit;
        width: initial;
    }

    #navbar > .nav-item{
        min-width: initial;
    }

    header > #toggleNavbarIcon {
        display: none;
        position: relative;
    }
}