#navbar.hidden{
    display: none;
    position: relative;
}

header{
    position: relative;
    height: 60px;
    z-index: 999;
}

header > .header-item{
    float: left;
    position: relative;
    height: inherit;
    z-index: 999;
}

header > #logo-title{
    padding: 10px 0px 0px 12px;
}

header > #logo-title > a{
    position: relative;
    float: left;
    height: inherit;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bolder;
}

header > #toggleNavbarIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    padding: 10px;
}

#toggleNavbarIcon > a{
    color: black;
    font-size: 1.5em;
    text-decoration: none;
}

#navbar
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: none;

    position: absolute;
    top: 60px;
    height: fit-content;
    width: 100%;
    color: black;
    background: var(--header-color);
}

#navbar > .nav-item{
    position: relative;
    float: left;
    height: inherit;

    padding: 20px;
    min-width: 100%;

    color: black;
    background: transparent;
    transition: 0.4s ease;
}

.nav-item > .nav-link{
    padding: 0;
    color: black;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

#navbar .nav-item:hover {
    border-color: white;
}

#navbar > .nav-item:hover > .nav-link {
    color: white;
    cursor: pointer;
}

#navbar > .nav-item > #dropdown-content{
    display: none;
    position: relative;

    margin: 0;
    padding: 0;
    width: 100%;

    background: inherit;
}

#navbar > .nav-item > #dropdown-content.shown{
    display: block;
}

#navbar > .nav-item > #dropdown-content > .nav-item{
    display: table;
    padding: 10px;
}

#navbar > .nav-item > #dropdown-content > .nav-item > a{
    color: black;
    transition: 500ms ease;
    text-decoration: none;
}

#navbar > .nav-item > #dropdown-content > .nav-item:hover > a{
    color: #c0c0c0;
    text-decoration: underline;
}

/* for tablets and up */
@media only screen and (min-width: 600px) {
    header > #toggleNavbarIcon {
        display: none;
        position: relative;
    }

    #navbar {
        position: static;
        display: block;
        float: right;
        height: inherit;
        width: initial;
    }

    #navbar > .nav-item{
        min-width: initial;
        padding: 20px;
    }

    #navbar > .nav-item:first-of-type{
        padding: 20px;
    }

    #navbar > .nav-item > #dropdown-content{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: #0000006c;
    }

    #navbar > .nav-item:hover > #dropdown-content{
        display: table;
    }

    #navbar > .nav-item > #dropdown-content > .nav-item > a{
        color: white;
    }
}