*{
    box-sizing: border-box;
}

html{
    height: 100%;
    margin: 0;
    padding: 0;
}

:root{
    --header-color: #d3d3d3;
    --heading-color: #333333;
    --text-color: #585858;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    min-width: 320px;

    /* TODO set font family, colors and so on */
    font-family: 'Roboto', sans-serif;

    background: var(--header-color);
}

body > main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    min-height: 90vh;

    background: rgba(0, 0, 0, 0.25);
}

/* Theme */
h1{
    margin-bottom: 0.25em;
    margin-top: 0;
    color: var(--heading-color);
    font-size: 7vw;
    font-family: 'Roboto';
    font-weight: 100;
}

h2{
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: var(--heading-color);
    font-size: 5vh;
    font-family: 'Roboto';
    font-weight: 300;
}

p{
    text-justify: newspaper;
    text-align: left;
    color: var(--text-color);
    font-weight: 500;
    font-size: 2vh;
}