*{
    box-sizing: border-box;
}

/* TODO set font family, colors and so on */
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    min-width: 320px;
}

html{
    min-height: 100vh;
}

body{
    height: 100%;

    background: #d3d3d3;
}