#showcase{
    background: #979797;
    padding: 0;
    margin: 0;

    min-height: 90vh;
}

#showcaseContainer {
    display: grid;
    gap: 0.05rem;
    grid-template-areas: 
        'section1'
        'section2'
        'section3';
}

@media only screen and (min-width: 600px) {
    #showcaseContainer{
        grid-template-areas: 
        'section1 section2'
        'section3 section3';
    }

    #showcaseContainer > .imgBox:nth-child(3n) {
        grid-column: span 2;
    }
}

#showcaseContainer > .imgBox {
    position: relative;
    min-height: 500px;

    background-position: center;
    background-size: cover, 500px auto;
    background-repeat: no-repeat;

    grid-column: span 1;
    grid-row: span 1;
}

.sectionPortrait
{
    background: url("../img/imgTest2.jpg");
    grid-area: 'section1';
}

.sectionLandscape
{
    background: url("../img/imgTest.jpg");
    grid-area: 'section2';
}

.sectionAstro
{
    background: url("../img/imgTest3.jpg");
    grid-area: 'section3';
}

.imgBox > .sectionInfo{
    position: absolute;
    bottom: 0;

    padding: 0.1rem;
    margin: 0;

    height: 40%;
    width: 100%;
    color: white;

    transition: 500ms ease;
    opacity: 0;
}

.sectionInfo .sectionTitle{ 
    display: table;
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0;
    color: white;
    font-size: 50pt;
    font-weight: bolder;
    font-style: italic;

    transition: 500ms ease;
}

.imgBox > .overlay
{
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;

    background: white;
    opacity: 0;
    transition: 600ms ease;
}

.imgBox:hover > .sectionInfo {
    opacity: 0.8;
}

.imgBox:hover .sectionTitle{
    transform: translate(-20px, -10px);
}

.imgBox:hover .overlay{
    opacity: 0.33;
}
